.login-page{
    max-width: 500px;
    /* border: 2px solid rgb(3, 165, 206); */
    border-radius: 5px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0 0 15px #ddd;
}
.login-page h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #555;
    padding-bottom: 40px;
}
.login-page form input,
.login-page form button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: none;
    outline: none;
    padding: 0 5px;
    /* outline: rgb(3, 165, 206);
    border: 1px solid rgb(3, 165, 206); */
}
.login-page form input{
    border-radius: 5px;
    border: 1px solid #9F9F9F;
    background-color: #fff !important;
}
.login-page form .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-page form button{
    background: rgb(3, 165, 206);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(3, 165, 206);
    border-radius: 5px;
}
.login-page form a{
    /* color: orange; */
    letter-spacing: 1.3px;
    text-transform: uppercase;
    color: #555;
    width: 100%;
    text-align: end;
    text-decoration: underline;
    padding-top: 10px;
    margin-bottom: 20px
}